<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Ekstrasi</title>
</head>
<body>
    {% extends "template.htm" %}
    {% block content %}

    <h1>APLIKASI EKSTRASI INFORMASI COVID - 19</h1>
    <hr>
    <div class = "input_program">
        <form action="{{ url_for('match_app') }}" method="POST" enctype="multipart/form-data">
            <p>Input file :</p>
            <input type="file" name = "fileInput"> 
            <br>
            <p>Input pattern :</p>
            <input type="form" name = "patternInput">
            <br>
            <p>Pilih algoritma yang digunakan : </p>
            <input type="radio" name = "algoInput" value="KMP"> KMP <br>
            <input type="radio" name = "algoInput" value ="BM"> BM <br>
            <input type="radio" name = "algoInput" value="regex"> Regular Expression <br>
            <br>
            <br>
            <input type="submit">
            <br><br>
        </form>
    </div>
    
    <!-- {% if isValid == -1 %}
        <h1>belom ada input</h1>
    {% elif isValid == 1 %}
        <h1>VALID</h1>
    {% else %}
        <h1>GA VALID</h1>
    {% endif %} -->
    {% if isValid == 1%}
        {% if (algo != "-") %}
        <h3>Berhasil menggunakan algoritma {{ algo }}</h3>
        {% endif %}
        <h3>Teks Berita :</h3>
        <p>{{teks}}</p>
        <br>

        <!-- <h3>Kalimat yang mengandung {{ pattern }}: </h3>
        {% for i in idx%}
        <p>{{arr_teks[i]}}</p>
        {% endfor %}

        <br> -->
        

        <div class = 'Hasil'>
            <h3>Hasil  pencarian '{{pattern}}':</h3>
            {% if (result == []) %}
                <p>Pattern tidak ditemukan</p>
            {% else %}
                {% for elmt in result%}
                    {%if (elmt[2] != "") %}
                        <p>Jumlah : {{elmt[2]}}</p>
                        <p>Waktu  : {{elmt[1]}}</p>
                        <p>Kalimat : {{arr_teks[elmt[0]]}}</p>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% elif isValid == 0%}
        <h3>Masukan tidak valid !</h3>
        <h3>Silakan masukkan berita dengan benar.</h3>
    {% endif %}

    {% endblock %}
</body>
</html>