<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File </title>
</head>
<body>

    <div class = "container">
        <div class = "row">
            <div clss = "col">
                <h1>Upload File</h1>
                <hr>

                <form action="/" method="POST" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label>Select File</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="fileinput" id="fileinput">
                            <label for="fileinput" class = "custom-file-label"> Select File ...</label>
                        </div>
                    </div>
                </form>

                <button type="submit">Submit file</button>

            </div>
        </div>
    </div>
    
</body>
</html>